<template>
    <div class="quiz-container">
      <div v-for="question in quizData" :key="question.id" class="question">
        <h3>{{ question.title }}</h3>
        <ul>
          <li v-for="(option, index) in question.options" :key="index">
            {{ selectedOptions }}
            <input type="radio" :id="'option-' + index" :name="'question-' + question.id" :value="index" v-model="selectedOptions[question.id]">
            <label :for="'option-' + index">{{ option }}</label>
          </li>
        </ul>
        <button @click="submitAnswer(question.id)">Submit</button>
      </div>
    </div>
  </template>
  
  <script setup>
  import QuizData from '@/components/data/preguntas';
import { ref } from 'vue';
  
  const quizData = ref([...QuizData]);
  
  const selectedOptions = ref({});
  
  const submitAnswer = (questionId) => {
    const selectedOptionIndex = selectedOptions.value[questionId];
        if selectedOptionIndex = 
    
    
  };
  </script>
  
  <style scoped>
  .quiz-container {
    max-width: 800px;
    margin: auto;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question h3 {
    margin-bottom: 10px;
  }
  
  .question ul {
    list-style-type: none;
    padding: 0;
  }
  
  .question ul li {
    margin-bottom: 5px;
  }
  
  button {
    margin-top: 10px;
  }
  </style>
  