<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Vista from './views/Vista.vue';
</script>

<template>
  <header>
    <div class="wrapper">
      <Vista></Vista>
    </div>
  </header>
</template>

<style scoped>
</style>
